<div id="parallax-world-of-ugg">

    <section style="padding: 0;">
        <div class="parallax-two">
            <h2>
                <span id="scroll-animate-main" class="donation-h2">{{donationType}} SEWA</span>
            </h2>
        </div>
    </section>

    <div class="section-line">
    </div>
</div>

<div class="middle-section">
    <div class="row" style="padding: 30px;">
        <div class="col-md-3">
            <img class="img-0" [src]="image_first">
        </div>
        <div class="col-md-3">
            <img class="img-1" [src]="image_second">
        </div>
        <div class="col-md-6">
            <h1 style="margin: 20px 0; font-size: 40px; font-family: 'Great Vibes',handwriting;">
                {{donationType}} <span style="color: #ff9229;">SEWA</span>
            </h1>
            <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">Donation is the most valuable human act;
                it is all about creating a sustainable environment in which every human being can persevere and
                flourish.</p>
            <p style="font-size: 18px; line-height: 30px;">
                It started humbly as a Hare Krishna Movement with kirtans and book distributions by a 69-year-old
                devotee, Srila Prabhupada, who knew the truth that happiness is a science that could be read and
                understood to obtain permanent solace. One such place noted for disseminating India’s most
                extraordinary brilliance, her Vedic information and culture is ISKCON Delhi.</p>
            <em style="font-size: 18px; line-height: 30px;"><span data-preserver-spaces="true"><br>“Preaching is the
                    essence, and utility is the principle,
                    books are the basis &amp; purity is the force” were his golden sayings.&nbsp;</span></em>
        </div>
    </div>
</div>

<div class="middle-bottom-line">
</div>

<div class="bottom-section">
    <div class="row" style="padding: 70px;">
        <div class="col-md-4">
            <h1 style="margin: 20px 0; font-size: 70px; font-family: 'Great Vibes',handwriting;">
                <span style="color: #ffff;">Donate Now</span>
            </h1>
            <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem; color: #ffff;">Donation is the most
                valuable human act;
                it is all about creating a sustainable environment in which every human being can persevere and
                flourish.</p>
            <p style="font-size: 18px; line-height: 30px; color: #ffff;">
                It started humbly as a Hare Krishna Movement with kirtans and book distributions by a 69-year-old
                devotee, Srila Prabhupada, who knew the truth that happiness is a science that could be read and
                understood to obtain permanent solace. One such place noted for disseminating India’s most
                extraordinary brilliance, her Vedic information and culture is ISKCON Delhi.</p>
            <!-- <em style="font-size: 18px; line-height: 30px;"><span data-preserver-spaces="true"><br>“Preaching is the
                    essence, and utility is the principle,
                    books are the basis &amp; purity is the force” were his golden sayings.&nbsp;</span></em> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="donation-form">
                <div class="contact-head">
                    <h4>All Donations are Tax Exempted here.</h4>
                    <p class="detail_heading">Your Details</p>
                </div>
                <form id="contact-form">
                    <div class="returnmessage" data-success="Your message has been received, we will contact you soon."
                        style="display:none"><span class="contact_success">Your message has been received, we will
                            contact you soon.</span></div>
                    <div class="empty_notice" style="display:none"><span>Please Fill Required Fields!</span></div>
                    <div class="row gx-3 gy-4">
                        <div class="col-md-12">
                            <div class="form-group"><label class="form-label">Full name <span
                                        style="color: red;">*</span></label><input name="name" id="name" type="text"
                                    placeholder="" class="form-control " value=""></div>
                        </div>
                        <div class="col-12">
                            <div class="form-group"><label class="form-label">Complete Address <span
                                        style="color: red;">*</span></label><input name="subject" id="subject"
                                    type="text" placeholder="" class="form-control " value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-label">City <span
                                        style="color: red;">*</span></label><input name="name" id="name" type="text"
                                    placeholder="" class="form-control " value=""></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-label">State <span
                                        style="color: red;">*</span></label><input name="email" id="email" type="text"
                                    placeholder="" class="form-control " value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-label">Enter 10 Digit WhatsApp Number <span
                                        style="color: red;">*</span></label><input name="name" id="name" type="text"
                                    placeholder="" class="form-control " value=""></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-label">Email address <span
                                        style="color: red;">*</span></label><input name="email" id="email" type="text"
                                    placeholder="" class="form-control " value="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"><label class="form-label">Feedback/Suggestions
                                    (optional)</label><textarea name="msg" id="message" placeholder=""
                                    class="form-control "></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="send"><button class="px-btn w-100" type="submit" id="send_message" value="">
                                    <span style="color: #ffff; font-size: 25px;">PAY NOW</span></button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>