#parallax-world-of-ugg .parallax-two {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/img/srila-prabhupada-L.jpg');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

#parallax-world-of-ugg h2 .donation-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 10;
    position: relative;
    top: 140px;
}

#parallax-world-of-ugg h2 .donation-footer-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 5;
    position: relative;
}

#parallax-world-of-ugg .donation-parallax-three {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background: gray;
    z-index: -1;
}

.donation-form {
    min-height: 70vh;
}

.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label {
    color: #222;
    display: block;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: 4px;
}

input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #333;
    font-size: .97em;
    height: 2.507em;
    max-width: 100%;
    padding: 0 0.75em;
    transition: color .3s, border .3s, background .3s, opacity .3s;
    vertical-align: middle;
    width: 100%;
}

button {
    height: 45px;
    background-color: #d94f44 !important;
    border-radius: 20px;
}

button:hover {
    color: #6d2a09;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

a {
    font-size: 18px;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 2px;
}

.service-item {
    background-color: rgb(22 21 21 / 6%);
    padding: 130px 30px;
    text-align: center;
    color: #000;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 50px;
}

.top_height {
    height: 45px;
}

h1 {
    text-align: left;
}

.section-line {
    background-image: url('../../assets/img/wave_light.svg');
    background-size: cover;
    bottom: 120px;
    height: 150px;
    z-index: 1;
    transform: scale(1, 1);
    position: relative;
}

.middle-section {
    /* Set a specific height */
    min-height: 70vh;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -150px;
    margin-bottom: -100px;
}

.middle-section .img-0 {
    border-radius: 150px 150px 150px 10px;
}

.middle-section .img-1 {
    border-radius: 150px 10px 150px 150px;
}

.middle-bottom-line {
    background-image: url('../../assets/img/wave_middle_bottom.svg');
    background-size: cover;
    bottom: 0px;
    height: 150px;
    z-index: 1;
    transform: scale(1, 1);
    position: relative;
}

.bottom-section {
    /* Set a specific height */
    min-height: 70vh;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d2530;
    padding-bottom: 120px;
}

.donation-form {
    padding: 40px;
    border: 2px solid #e1e3e1;
    border-radius: 16px;
    background-color: #fff;
}

.detail_heading {
    color: #6d2a09;
    font-size: 1.1em;
    font-weight: bolder;
    overflow: hidden;
    padding-top: 10px;
    text-transform: uppercase;
}