<footer class="footer" *ngIf="footerType=='home'">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/img/logo.png">

            <p>International Society for Krishna Consciousness</p>

            <p>Sri Sri Giridhari Dauji Temple</p>
            <p>
                Village Dholai, New Sanganer Road, opposite Vijay Path, Mansarovar, Jaipur, Rajasthan 302020
            </p>
            <p class="footer-company-name">ISKCON Jaipur © 2023</p>
        </div>
        <div class="col-md-4 footer-center">
            <h1 style="text-align: left; font-size: 30px; margin-bottom: 20px;">Quick Links</h1>
            <p>
                <a href=""><span style="color: #c9c9c9; font-size: 25px;">About Us</span></a>
            </p>
            <p>
                <a href=""><span style="color: #c9c9c9; font-size: 25px;">Founder Acharya</span></a>
            </p>
            <p>
                <a href=""><span style="color: #c9c9c9; font-size: 25px;">Annadan Sewa</span></a>
            </p>
            <p>
                <a href=""><span style="color: #c9c9c9; font-size: 25px;">Go Sewa</span></a>
            </p>
            <p>
                <a href=""><span style="color: #c9c9c9; font-size: 25px;">Nitya Sewa</span></a>
            </p>
        </div>
        <div class="col-md-4" style="padding-top: 45px;">
            <p>"Among lights I am the radiant sun. Among fishes I am the Shark. Among immovable things I am the
                Himālayas. Among beasts I am the Lion." - Bhagavad-gita Chapter-10, The Opulence of the Absolute.</p>

            <p><span style="color: darkslategrey; font-size: 40px;"><i class="fa fa-phone"></i></span>&nbsp;&nbsp;<span
                    style="vertical-align: super; text-decoration: underline grey;">+91
                    9501191990</span>
            </p>
            <p><span style="color: darkslategrey; font-size: 40px;"><i
                        class="fa fa-envelope"></i></span>&nbsp;&nbsp;<span
                    style="vertical-align: super; text-decoration: underline grey;">agamj@gmail.com</span>
            </p>

            <div class="footer-icons">

                <a target="_blank" href="https://www.facebook.com/iskconjaipurofficial/"><i
                        class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/ISKCONjaipur"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCYGqTJhtkvw13F5QGfw1GCA"><i
                        class="fa fa-youtube"></i></a>
                <a target="_blank" href="https://www.instagram.com/iskconjaipur.official/"><i
                        class="fa fa-instagram"></i></a>

            </div>
        </div>
    </div>

</footer>