<div class="top-section">
    <h1 class="page_header">LIVE Darshan</h1>
</div>
<div class="middle-section">
    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 contain"
                style="position: relative; border-radius: 12px;"><iframe
                    src="https://www.youtube.com/embed/cRASRRm5imc?autoplay=1&amp;mute=1"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe></div>
        </div>
    </div>
</div>
<app-footer></app-footer>