<div class="top-section">
    <h1 class="page_header">About ISKCON Jaipur</h1>
</div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
    </defs>
    <g class="moving-waves">
        <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
        <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
        <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
        <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
    </g>
</svg>
<div class="middle-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/img/srila-prabhupada-about-us-page.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h1 style="margin: 20px 0; font-size: 40px;">
                    About <span style="color: #ff9229;">ISKCON Jaipur</span>
                </h1>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">We at ISKCON are aficionados of
                    life, culture, love,
                    faith, Krishna,
                    happiness, and science, which connect every soul worldwide.</p>
                <p style="font-size: 18px; line-height: 30px;">
                    It started humbly as a Hare Krishna Movement with kirtans and book distributions by a 69-year-old
                    devotee, Srila Prabhupada, who knew the truth that happiness is a science that could be read and
                    understood to obtain permanent solace. One such place noted for disseminating India’s most
                    extraordinary brilliance, her Vedic information and culture is ISKCON Delhi.</p>
                <em style="font-size: 18px; line-height: 30px;"><span data-preserver-spaces="true"><br>“Preaching is the
                        essence, and utility is the principle,
                        books are the basis &amp; purity is the force” were his golden sayings.&nbsp;</span></em>
            </div>
        </div>
    </div>
</div>
<div class="middle-bottom-section-line">
</div>
<div class="middle-bottom-section">
    <div class="container">
        <div class="row" style="padding-top: 150px; padding-bottom: 150px;">
            <div class="col-md-4">
                <img src="../../assets/img/devotees-dancing.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h1 style="margin: 20px 0; font-size: 40px; text-align: left;">
                    ISKCON Jaipur- The present
                </h1>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">Jaipur is a city renowned for it's
                    art and handicraft, therefore we felt that this temple should not only serve the devotees, to
                    increase their bhakti, but it should also inspire people from all over the world to understand Vedic
                    Culture through Art.</p>
                <p style="font-size: 18px; line-height: 30px;">
                    With this in mind we have decided to present the "Windows to the Spiritual World Gallery". Fifty Two
                    Stained Glass Windows. This will be the first time in the world Vedic Mythology will be presented in
                    Stained Glass and this will the biggest display of Stained Glass in the World. The Initial Twelve
                    windows will be over eleven feet high and four feet wide. The next orty windows will be over Twelve
                    feet high and six feet wide.</p>
                <p style="font-size: 18px; line-height: 30px;">
                    Our Master Artist Mr. Colin Greenwood had met His Divine Grace Srila Prabhupada in Melbourne in 1972
                    and since that day it has been his desire to create something exceptional in Stained Glass for the
                    pleasure of Srila Prabhupada. Mr. Greenwood has taken up residence here in the Si Sri Giridhari
                    Dauji Mandir and has begun setting up the Studio and arranging the specialized materials in order to
                    make this dream come true.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="middle-bottom-section-bottom-line">
</div>
<div class="lower-section">
    <div class="container">
        <div class="row" style="padding-top: 100px; padding-bottom: 150px;">
            <div class="col-md-4">
                <img src="../../assets/img/about-us-lower-section.png" style="padding-top: 50px;">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h1 style="margin: 20px 0; font-size: 35px; text-align: left;">
                    Temple Managers Zonal Secretaries
                </h1>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">His Holiness Gopal Krishna Goswami
                    Maharaj</p>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">
                    His Grace Devakinandan Prabhu Ji</p>
                <h1 style="margin: 20px 0; font-size: 35px; text-align: left;">
                    Temple Managers Zonal Secretaries
                </h1>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">
                    Jyoti Maheshwari - Chairman of Temple Development Committee
                </p>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">
                    His Grace Pancaratna Prabhu Ji – Temple President
                </p>
                <p style="font-size: 18px; line-height: 30px; margin-bottom: 2rem;">
                    His Grace Shanta Nrisimha Prabhu Ji – Vice President
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>