<div class="top-section"></div>
<div class="section-line">
</div>
<div class="bottom-box" id="main-section">
    <div class="part" style="margin-top: 20px;">
        <h1>ADD VALUES</h1>
        <p style="font-size: 26px; font-family: Merriweather,Georgia,Times New Roman,serif; line-height: 40px;">Add
            value to your life with the teachings of Srimad Bhagavad Gita. The Bhagavad Gita
            defines the way of life
            at the Philosophical and Spiritual levels through harmonized spiritual pursuits and the combination of
            Action, Knowledge, and Devotion (Karma, Gyaana, and Bhakti, respectively).</p>
    </div>
    <div class="part">
        <h1>AWAKEN YOURSELF</h1>
        <p style="font-size: 26px; font-family: Merriweather,Georgia,Times New Roman,serif; line-height: 40px;">The
            Bhagavad Gita is more than an ancient text. It is a song sung by Krishna which
            helps to find a solution
            to every problem of life. The mystical knowledge in this spiritual book helps in awakening yourself and see
            the absolute truth of life.</p>
    </div>
    <div class="part" style="margin-top: -20px;">
        <h1>EXPERIENCE THE SERENITY</h1>
        <p style="font-size: 26px; font-family: Merriweather,Georgia,Times New Roman,serif; line-height: 40px;">Bring
            peace in your life with the holy Bhagavad Gita. The verses mentioned in this
            sacred book give different
            levels of peace to the mind and make it stress-free. Add calmness with the valuable teachings of Bhagavad
            Gita.</p>
    </div>
</div>
<div class="middle-bottom-line">
</div>
<div class="my-container" id="course-section">
    <div class="row">
        <div class="image-join-section">
            <img src="../../assets/img/dys.png">
            <div class="text">
                <h2 style="color: #c5c5c5;">Discover Yourself</h2>
                Discover Your Self (DYS) is a short but life transforming course at the end of which you
                will discover a new "You" who has discovered a new meaning of life and happiness.
                This is a journey from difficulty to motivation from limitation to strength and confusion to
                enlightenment !

                This program is presented by ISKCON Youth Forum.
                <button class="button rounded-button">Join Now <i class="fa fa-long-arrow-right arrow_seemore"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="image-join-section">
            <img src="../../assets/img/josd.jpg">
            <div class="text">
                <h2 style="color: #c5c5c5;">Journey of Self Discovery</h2>
                This course contains the essence of a study on the text and the principal religious ideas
                within the Bhagavad Gita. In this course, we have considered the
                Bhagavad Gita and tried to establish the main themes it pursues in its teachings, thereby seeking to
                identify the full significance of this famous scripture.
                <button class="button rounded-button">Join Now <i class="fa fa-long-arrow-right arrow_seemore"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="image-join-section">
            <img src="../../assets/img/gita-class.jpg">
            <div class="text">
                <h2 style="color: #c5c5c5;">Gita Course</h2>
                Discover the secrets of inner peace and self-realization through our Online Bhagavad Gita
                course.
                Learn the ancient teachings of the Bhagavad Gita and apply them to your modern life with our online
                course. Join our online Bhagavad Gita course and embark on spiritual growth and self-discovery.
                <button class="button rounded-button">Join Now <i class="fa fa-long-arrow-right arrow_seemore"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="bottom-line">
</div>
<div class="bottom-section">
    <h1 class="feedback-section-text"
        style="color: #404; text-align: center; position: inherit; z-index: 2; font-size: 50px; font-weight: 700;">
        Testimonials</h1>
    <div class="row" style="margin-bottom: 0px;padding-top: 150px;">
        <div class="col-md-2 box">
            <p class="feedback-section-text">Many thanks for the amazing class yesterday. i attended after listing to
                quite a few of the youtubes
                that particularly intrigued me and wish to get through all of them soon</p>
            <h2 class="feedback-section-text" style="color: #880088;">- Devanshu Mandal</h2>
        </div>
        <div class="col-md-2 box">
            <p class="feedback-section-text">I was amazed at how I was completely taken away from the pressures of work
                by attending a class. Even in
                the midst of a busy working day and within the confines of the office, the session was masterfully led
                by the presenter who literally transported my mindset to another place. I would certainly recommend it
                to others</p>
            <h2 class="feedback-section-text" style="color: #880088;">- Sachin Sharma</h2>
        </div>
        <div class="col-md-2 box">
            <p class="feedback-section-text">Congratulations to yourself and the rest of the team for all the great
                achievements you have achieved
                over the past year! It is great to see teachings of Sanantan Dharma going so far and especially that the
                team has been short-listed for such an award! May Lord Krishna guide you to expand this further and make
                a difference to many more people!</p>
            <h2 class="feedback-section-text" style="color: #880088;">- Harsh Purohit</h2>
        </div>
        <div class="col-md-2 box">
            <p class="feedback-section-text">Many thanks for the amazing class yesterday. i attended after listing to
                quite a few of the youtubes
                that particularly intrigued me and wish to get through all of them soon</p>
            <h2 class="feedback-section-text" style="color: #880088;">- Mohit Jajpuriya</h2>
        </div>
        <div class="col-md-2 box">
            <p class="feedback-section-text">Many thanks for the amazing class yesterday. i attended after listing to
                quite a few of the youtubes
                that particularly intrigued me and wish to get through all of them soon</p>
            <h2 class="feedback-section-text" style="color: #880088;">- Agam Jain</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<app-footer></app-footer>