<div class="parallax-content baner-content" id="home">
    <!-- <video width="100%" height="100%" #videoPlayer (canplay)="onCanPlay()" (timeupdate)="onTimeUpdate()" autoplay muted>
        <source src="../../assets/img/1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->
    <div class="container">
        <div class="first-content">
            <p class="item-1">
                Welcome to<br><br><br>
                <span class="special-text">Sri Sri Giridhari Dauji Temple</span><br><br> <br>
                <span class="pink-text">ISKCON Jaipur</span>
            </p>

            <div class="round-images" *ngIf="isRoundImages">
                <div class="round-image">
                    <img src="image1.jpg" alt="Image 1">
                    <p>Text 1</p>
                </div>
                <div class="round-image">
                    <img src="image2.jpg" alt="Image 2">
                    <p>Text 2</p>
                </div>
                <div class="round-image">
                    <img src="image3.jpg" alt="Image 3">
                    <p>Text 3</p>
                </div>
            </div>
            <!-- <div class="arrow1" style="cursor: pointer;" (click)="changeBackgroundImage()" *ngIf="isArrowVisible">
                    <svg height="80" width="50">
                        <polygon points="0,0 20,0 50,40 20,80 0,80 30,40" style="fill:#fff;" />
                    </svg>
                </div>
                <div class="arrow2" style="cursor: pointer;" (click)="changeBackgroundImage()" *ngIf="isArrowVisible">
                    <svg height="80" width="50">
                        <polygon points="0,0 20,0 50,40 20,80 0,80 30,40" style="fill:#fff;" />
                    </svg>
                </div> -->
        </div>
    </div>
</div>

<div class="block">
    <img src="assets/img/2nd-block.jpg" data-speed="1" class="img-parallax">
    <div class="middle-block">
        <div class="part">
            <span class="number">3000</span>
            <span class="text">CRORE MEALS SERVED
                AROUND THE WORLD</span>
        </div>
        <div class="part">
            <span class="number">76</span>
            <span class="text" style="text-align: center;">CRORE MEALS SERVED
                SINCE COVID 19 LOCKDOWN AROUND THE WORLD</span>
        </div>
        <div class="part">
            <span class="number">56</span>
            <span class="text">YEARS OF SERVICE
                TO HUMANITY</span>
        </div>
    </div>
</div>


<div class="service-content" id="services" style="padding-top: 8vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="coin">
                    <div class="coin__front__aboutus"></div>
                    <div class="coin__edge">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="coin__back__aboutus"></div>
                    <div class="coin__shadow"></div>
                </div>
            </div>
            <div class="col-md-7 box" data-aos="fade-left" data-aos-duration="500"
                data-aos-anchor-placement="top-center">
                <div class="service-item">
                    <h1 id="about-us-section" class="animated-text service-item-text">In the heart of Jaipur, a
                        celestial marvel
                        emerged
                        from the dreams of
                        Srila
                        Prabhupada. The Krishna-Balaram temple, a testament to the devotion and love of the people,
                        stands as a resplendent jewel.<br>
                        <hr class='style-seven' style="width: 170px; margin-top: 3rem;" />
                        Its ethereal beauty transcends mortal realms, captivating all who
                        behold it. Within its sacred walls, devotees immerse themselves in the divine bliss of
                        kirtans
                        and arati ceremonies. <br>
                        <hr class='style-seven' style="width: 170px; margin-top: 3rem;" />
                        Festivals resound with joyous chants and celestial melodies, touching
                        souls with divine grace. Tears flow freely as hearts surrender to the enchanting presence of
                        Sri Sri Radha Madan Mohan Ji. This temple, a haven of spirituality, ignites tears of joy,
                        awakening an
                        eternal love within all who witness its magnificence.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 box" data-aos="fade-right" data-aos-duration="500"
                data-aos-anchor-placement="top-center">
                <div class="service-item" style="padding: 70px 30px;">
                    <h1 class="animated-text service-item-text">Although our temple has numerous departments
                        performing various
                        different services, the main focus is on the deity worship, prasadam distribution, studying
                        and distributing Srila Prabhupada’s books, goshala, devotee care, and all other functions
                        carried
                        out in the temple are all meant to support and encourage the betterment and success of these
                        key services.<br>
                        <hr class='style-seven' style="width: 170px; margin-top: 3rem;" />
                    </h1>
                    <div class="image-section">
                        <div class="image-item">
                            <img src="../../assets/img/prabhupada-with-german-devotees.jpg" alt="Image 1">
                            <h1>DEVOTEE CARE</h1>
                        </div>
                        <div class="image-item" style="margin-bottom: 30px;">
                            <img src="../../assets/img/gau.jpg" alt="Image 2">
                            <h1>GOSHALA</h1>
                        </div>
                        <div class="image-item">
                            <img src="../../assets/img/krsna.jpg" alt="Image 2">
                            <h1>DEITY CARE</h1>
                        </div>
                        <div class="image-item">
                            <img src="../../assets/img/krsna-the-cowheard-boys-taking-prasadam.png" alt="Image 2">
                            <h1>DEVOTEE KITCHEN</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="coin">
                    <div class="coin__front__service"></div>
                    <div class="coin__edge">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="coin__back__service"></div>
                    <div class="coin__shadow"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-content" id="services" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="coin">
                    <div class="coin__front__letter"></div>
                    <div class="coin__edge">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="coin__back__letter"></div>
                    <div class="coin__shadow"></div>
                </div>
            </div>
            <div class="col-md-7 box" data-aos="fade-left" data-aos-duration="500"
                data-aos-anchor-placement="top-center">
                <div class="service-item" style="padding: 75px 30px;">
                    <h1 class="animated-text service-item-text">
                        So I want to open a duplicate Krishna Balarama temple in Jaipur. I
                        am sending separately copies of pictures of our Krishna
                        Balarama Temple in Vrindaban. Of course there is also Radha Krishna and
                        Gaura Nitai. I wish that you have some land in Jaipur
                        and help us in constructing a temple like in Vrindaban.
                    </h1>
                    <br>
                    <p style="text-align: right;">&mdash; A.C. Bhaktivedanta Swami Srila Prabhupada<br>Letter to:
                        Mahavir Prasad
                        Jaipuriaji: 13 July, 1975</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-content projects-content" id="portfolio">
    <div class="container">
        <h1 style="position: relative;
        margin-bottom: 45px;
        font-family: 'Oswald', sans-serif;
        font-size: 44px;
        text-transform: uppercase;
        color: #c3b2b2;" data-aos="fade-right" data-aos-duration="500" data-aos-anchor-placement="top-center">Gallery
        </h1>

        <div class="gallery-wrap" data-aos="zoom-out-up" data-aos-duration="500" data-aos-anchor-placement="top-center">
            <div class="gallery gallery-1"></div>
            <div class="gallery gallery-2"></div>
            <div class="gallery gallery-3"></div>
            <div class="gallery gallery-4"></div>
            <div class="gallery gallery-5"></div>
        </div>
        <div class="button gallery_button" (click)="onSeeMoreClick()" data-aos="fade-right" data-aos-duration="500"
            data-aos-anchor-placement="top-bottom"><span>SEE MORE</span><i
                class="fa fa-long-arrow-right arrow_seemore" aria-hidden="true"></i></div>
    </div>
</div>

<!-- <div class="parallax-content donation-content"> -->
<div class="donation-content">
    <div class="twelve" data-aos="fade-right" data-aos-duration="500" data-aos-anchor-placement="top-center">
        <h1>Get Blessings from Sri Sri Giridhari Dauji</h1>
    </div>
    <section class="cards">
        <article class="card card--1" data-aos="fade-right" data-aos-duration="500"
            data-aos-anchor-placement="top-center">
            <div class="card__img"></div>
            <a href="#" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> Annadan Seva</span>
                <h3 class="card__title"> You generally buy many things in your life, sometimes even you don’t need
                    them,
                    but still, you bought them for your luxury desire. So, your little contribution to society can
                    feed
                    someone.</h3>
                <button class="button-89" role="button" (click)="donate('Annadan')"><span style="color: red;">
                        Donate Now</span></button>
            </div>
        </article>


        <article class="card card--2" data-aos="zoom-out-up" data-aos-duration="500"
            data-aos-anchor-placement="top-center">
            <div class="card__img"></div>
            <a href="#" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> Go Seva</span>
                <h3 class="card__title">“I can be worshipped within the Cows by offerings of grass and other
                    suitable
                    grains and paraphernalia for the pleasure & health of the Cows”– Srimad Bhagavatam 11.11.43</h3>
                <button class="button-89" role="button" (click)="donate('cow')"><span style="color: red;"> Donate
                        Now</span></button>
            </div>
        </article>

        <article class="card card--3" data-aos="zoom-out-up" data-aos-duration="500"
            data-aos-anchor-placement="top-center">
            <div class="card__img"></div>
            <a href="#" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> Nitya Seva</span>
                <h3 class="card__title">“Bali Mahārāja did not become poor; by donating all his possessions to the
                    Supreme Personality of Godhead, he became a successful devotee and got everything back again.”
                    SB
                    5.24.18</h3>
                <button class="button-89" role="button" (click)="donate('nitya')"><span style="color: red;"> Donate
                        Now</span></button>
            </div>
        </article>

        <article class="card card--4" data-aos="fade-left" data-aos-duration="500"
            data-aos-anchor-placement="top-center" style="margin-right: 0px;">
            <div class="card__img"></div>
            <a href="#" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> Donation of your choice</span>
                <h3 class="card__title">“In this endeavour of offering service to Lord Krsna, you get eternal
                    credit,
                    and a little service offer to Lord Krsna can protect one from the most dangerous type of fear.”
                    --Bhagavad Gita 2.40</h3>
                <button class="button-89" role="button" (click)="donate('donation')"><span style="color: red;">
                        Donate Now</span></button>
            </div>
        </article>
    </section>
</div>

<div id="parallax-world-of-ugg">

    <section style="padding: 0;">
        <div class="parallax-two">
            <h2 data-aos="zoom-out-up" data-aos-duration="500" data-aos-anchor-placement="top-center">OUR
                GLORIOUS
                SPIRITUAL MASTER</h2>
        </div>
    </section>

    <div class="prabhupada-line">
    </div>

    <section style="min-height: 80vh;padding-top: 0;margin-top: -210px;margin-bottom: -210px;">
        <div class="row">
            <div class="col-md-7">
                <div class="gallery">
                    <div class="clipped-border">
                        <img src="../../assets/img/234_Walking-with-SP-I.jpg" id="clipped">
                    </div>
                    <div class="clipped-border">
                        <img src="../../assets/img/srila-prabhupada-struggle.jpg" id="clipped">
                    </div>
                    <div class="clipped-border">
                        <img src="../../assets/img/srila-prabhupada-reading-newspaper.jpg" id="clipped">
                    </div>
                    <div class="clipped-border">
                        <img src="../../assets/img/prabhupada-with-his-father.jpg" id="clipped">
                    </div>
                    <div class="clipped-border">
                        <img src="../../assets/img/interview_prabhupada.jpg" id="clipped">
                    </div>
                    <div class="clipped-border">
                        <img src="../../assets/img/srilaprabhupada-compassion.jpg" id="clipped">
                    </div>
                    <!-- <div class="shadow"></div> -->
                </div>
            </div>
            <div class="col-md-5" style="padding-left: 0;">
                <div class="prabhupada_lila">
                    <h1>A. C. Bhaktivedanta Swami Prabhupada</h1>
                    <p>Srila Prabhupada was born Abhay Charan De on September 1, 1896 to a pious Hindu family in
                        Calcutta. As a youth growing up in British-controlled India, Abhay became involved with
                        Mahatma
                        Gandhi’s civil disobedience movement to secure independence for his nation. It was, however,
                        a
                        1922 meeting with a prominent scholar and religious leader, Srila Bhaktisiddhanta Sarasvati,
                        which proved most influential on Abhay’s future calling. </p>

                    <blockquote>
                        <p>One cannot reach the real point of factual knowledge without being helped by the right
                            person who is already established in that knowledge. There.
                        </p>
                    </blockquote>

                    <p>In 1965, at the age of sixty-nine, Srila Prabhupada traveled to New York City aboard a cargo
                        ship. The journey was treacherous, and the elderly spiritual teacher suffered two heart
                        attacks
                        aboard ship. </p>

                    <p> On July 11, 1966, he officially registered his organization in the state of New York,
                        formally
                        founding the International Society for Krishna Consciousness.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="bottom-top-line">
    </div>

    <section style="padding: 0;">
        <div class="parallax-three">
            <h2 data-aos="zoom-out-up" data-aos-duration="500" data-aos-anchor-placement="top-center">GET IN
                TOUCH
            </h2>
        </div>
    </section>

    <section style="min-height: 100vh; padding-left: 7vh; padding-right: 7vh; padding-top: 12vh;">
        <div class="row">
            <div class="col-md-4" data-aos="fade-right" data-aos-duration="500" data-aos-anchor-placement="top-center">
                <div class="contact-form" style="width: 85vh;">
                    <div class="row">
                        <div class="tab_wrapper">
                            <div class="tabs">
                                <div class="tab">
                                    <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                                    <label for="tab-1" class="tab-label">Outside Temple</label>
                                    <div class="tab-content"><iframe
                                            src="https://www.google.com/maps/embed?pb=!4v1685621178153!6m8!1m7!1sCAoSLEFGMVFpcFBIN01MRGNpQ1lEcGI4QkFiZnhiSFFyOEZFT01YTE9MZ25XVEdv!2m2!1d26.8310934!2d75.7496609!3f350.7717!4f19.019295!5f0.7820865974627469"
                                            width="590" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                                    <label for="tab-2" class="tab-label">Deities Alter</label>
                                    <div class="tab-content"><iframe
                                            src="https://www.google.com/maps/embed?pb=!4v1685621891943!6m8!1m7!1sCAoSLEFGMVFpcE0ydUxCUVIyQ2xCb3JEcC1RdjRQN3lZbThld0hQeGtPZjZPd0Rr!2m2!1d26.8310934!2d75.7496609!3f13.216051878925278!4f14.317035511317385!5f0.7820865974627469"
                                            width="590" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                                    <label for="tab-3" class="tab-label" style="border-right: 0px;">Stained Glass
                                        Art</label>
                                    <div class="tab-content"><iframe
                                            src="https://www.google.com/maps/embed?pb=!4v1685622065523!6m8!1m7!1sCAoSLEFGMVFpcE5mX3RjcHhCMy1VSFdwLTBSU0FUb2RhMW9JTWtwbVl4dG11LXlF!2m2!1d26.8310934!2d75.7496609!3f148.73914027930624!4f8.109837085062054!5f0.7820865974627469"
                                            width="590" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="500" data-aos-anchor-placement="top-center">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d829.3076112431661!2d75.74941363781608!3d26.830799254145827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db57ac44ce2e3%3A0xd3f1209a496907b5!2sISKCON%20Temple%2C%20Jaipur!5e0!3m2!1sen!2sin!4v1685175261430!5m2!1sen!2sin"
                        width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

</div>

<app-footer></app-footer>