<div class="top-section">
    <h1 class="page_header">Temple Timings</h1>
</div>
<div class="middle-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="margin-top: 30px;" src="../../assets/img/temple-timing.jpg">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h1 style="margin: 20px 0; font-size: 40px;">
                    Daily <span style="color: #ff9229;">Schedule</span>
                </h1>
                <p style="font-size: 18px; line-height: 50px; margin-bottom: 2rem;">4.30am-5.00am&nbsp;&nbsp; &nbsp;:
                    Mangalarati Darshan<br>7.30am-8.00am : Sringara
                    Darshan<br>8.30am-11.55am: Darshan remain open<br>12.30m-1.10pm&nbsp;&nbsp; &nbsp;: Raj Bhoga
                    Arati<br>4.30pm-6.30pm&nbsp;&nbsp; &nbsp;: Darshan remains open<br>7.00pm-8.00pm: Sandhya
                    Arati<br>8.30pm-8.45pm: Last Darshan for the day</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>